<div class="animated fadeIn">
  <div class="card-body ctr">
    Année :<select (ngModelChange)="CacaoFun()" [(ngModel)]="select2" id="ctr1" name="ctr1" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
    <option value="1990">1990</option>
    <option value="1991">1991</option>
    <option value="1992">1992</option>
    <option value="1993">1993</option>
    <option value="1994">1994</option>
    <option value="1995">1995</option>
    <option value="1996">1996</option>
    <option value="1997">1997</option>
    <option value="1998">1998</option>
    <option value="1999">1999</option>
    <option value="2000">2000</option>
    <option value="2001">2001</option>
    <option value="2002">2002</option>
    <option value="2003">2003</option>
    <option value="2004">2004</option>
    <option value="2005">2005</option>
    <option value="2006">2006</option>
    <option value="2007">2007</option>
    <option value="2008">2008</option>
    <option value="2009">2009</option>
    <option value="2010">2010</option>
    <option value="2011">2011</option>
    <option value="2012">2012</option>
    <option value="2013">2013</option>
    <option value="2014">2014</option>
    <option value="2015">2015</option>
    <option value="2016">2016</option>
    <option value="2017">2017</option>
    <option value="2018">2018</option>
    <option value="2019">2019</option>
    <option value="2020">2020</option>

  </select> <div class="btn-group" dropdown>&nbsp; &nbsp; &nbsp;
    <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
      <button type="button" (click)="CacaoFun()" class="btn btn-block btn-secondary">Récherchez</button>
    </div>
  </div>
  </div>


  <b class="tail">STATISTIQUES DE LA FILIERE CACAO POUR L'ANNEE {{select2}} </b><div class="btn-group" dropdown>

</div><br/><br/>
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-info">
        <div class="card-body pb-0">
          <div class="text-value">{{cacaoSuperficie}}</div>
          <div>Superficies (Ha)</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <canvas baseChart class="chart"
                  [datasets]="lineChart2Data"
                  [labels]="lineChart2Labels"
                  [options]="lineChart2Options"
                  [colors]="lineChart2Colours"
                  [legend]="lineChart2Legend"
                  [chartType]="lineChart2Type"></canvas>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <div class="text-value">{{cacaoProduction}}</div>
          <div>Productions (Tonnes)</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <canvas baseChart class="chart"
                  [datasets]="lineChart1Data"
                  [labels]="lineChart1Labels"
                  [options]="lineChart1Options"
                  [colors]="lineChart1Colours"
                  [legend]="lineChart1Legend"
                  [chartType]="lineChart1Type"></canvas>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-warning">
        <div class="card-body pb-0">
          <div class="text-value">{{cacaoExportation}}</div>
          <div>Exportations (Tonnes)</div>
        </div>
        <div class="chart-wrapper mt-3" style="height:70px;">
          <canvas baseChart class="chart"
                  [datasets]="lineChart3Data"
                  [labels]="lineChart3Labels"
                  [options]="lineChart3Options"
                  [colors]="lineChart3Colours"
                  [legend]="lineChart3Legend"
                  [chartType]="lineChart3Type"></canvas>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-danger">
        <div class="card-body pb-0">
          <div class="text-value">{{cacaoPrix}}</div>
          <div>Prix annuel (F.cfa/Kg)</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <canvas baseChart class="chart"
                  [datasets]="barChart1Data"
                  [labels]="barChart1Labels"
                  [options]="barChart1Options"
                  [colors]="barChart1Colours"
                  [legend]="barChart1Legend"
                  [chartType]="barChart1Type"></canvas>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->

  <div class="taillien">&nbsp;<button type="button" class="btn btn-success "  (click)="Affiche()">Voir les  details pour l'année {{select2}}</button></div><br/>

  <div class="card" *ngIf="div2" >
    <div class="card-header taillien">
      Statistiques globales de la filiere Cacao au niveau nationale pour l'année <strong>{{select2}} </strong>
    </div>
    <div class="card-body" >
      <table *ngIf="cacao1" class="table table-bordered">
        <thead align="center">
        <tr align="center">
          <th>ANNEE</th>
          <th  width="20%" align="center">TYPE PRODUIT</th>
          <th >PRODUIT</th>
          <th >SUPERFICIES (Ha)</th>
          <th>PRODUCTIONS (Tonnes)</th>
          <th>EXPORTATIONS (Tonnes)</th>
          <th>PRIX PRODUCTEURS (F CFA/KG)</th>
          <th>PRIX EXPORTATION (F CFA/KG)</th>
        </tr>
        </thead>
        <tbody align="center">
        <tr >
          <td>{{cacaoAnnee}} </td>
          <td class="i1">{{cacaoTypeproduit}}</td>
          <td>{{cacaoprduit}}</td>
          <td>{{cacaoSuperficie}}</td>

          <td>{{cacaoProduction}}</td>
          <td>{{cacaoExportation}}</td>
          <td>{{cacaoPrix}}</td>
          <td>{{cacaoPrixex}}</td>
        </tr>
        </tbody>

      </table>

      <p align="right">Source: DSDI</p>
    </div>

    <div class="ctr"  *ngIf="div2">
      &nbsp;&nbsp;<button type="button" class="btn btn-primary " (click)="gPdf(contentToConvert)">
      <i class="icon-cloud-download">  Telecharger PDF</i></button>
      <br/><br/>
    </div>
  </div>


  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-5">
          <h4 class="card-title mb-0 text-monospace">Cacao</h4>
          <div class="text-monospace">Statistiques agricoles 1990-2020</div>
        </div><!--/.col-->
        <div class="col-sm-7 d-none d-md-block">
          <div class="btn-group btn-group-toggle float-right mr-3" data-toggle="buttons" (click)="data=datasets[0];updateOptions()">
            <label class="btn btn-outline-secondary" [ngClass]="{'active':clicked===true}" (click)="clicked=true;clicked1=false" [(ngModel)]="radioModel" btnRadio="Day" id="option1">Superficie</label>
            <label class="btn btn-outline-secondary" [(ngModel)]="radioModel" btnRadio="Month" id="option2">Production</label>
            <label class="btn btn-outline-secondary" [(ngModel)]="radioModel" btnRadio="Year" id="option3">Exportation</label>
            <label class="btn btn-outline-secondary" [(ngModel)]="radioModel" btnRadio="prix" id="option4">Prix</label>
          </div>
        </div><!--/.col-->
      </div><!--/.row-->
      <div class="chart-wrapper" style="height:300px;margin-top:40px;">
        <canvas baseChart class="chart"
                [datasets]="mainChartData"
                [labels]="mainChartLabels"
                [options]="mainChartOptions"
                [colors]="mainChartColours"
                [legend]="mainChartLegend"
                [chartType]="mainChartType"></canvas>
      </div>
    </div>


    <div class="card-footer">
      <div class="row text-center">
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">Visits</div>
          <strong>29.703 Users (40%)</strong>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar bg-success" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">Unique</div>
          <strong>24.093 Users (20%)</strong>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">Pageviews</div>
          <strong>78.706 Views (60%)</strong>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar bg-warning" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">New Users</div>
          <strong>22.123 Users (80%)</strong>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">Bounce Rate</div>
          <strong>40.15%</strong>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/.card-->
</div>




<div class="taillien">&nbsp;<button type="button" class="btn btn-success "  (click)="onGetcacao()">Voir les  details 1990-2020...</button></div><br/>

<div class="card" *ngIf="div3" >
  <div class="card-header taillien">
    Statistiques globales de la filiere Cacao au niveau nationale de 1990-2020...
  </div>
  <div class="card-body" >
    <table *ngIf="toutcacao" class="table table-bordered">
      <thead align="center">
      <tr align="center">
        <th>ANNEE</th>
        <th  width="20%" align="center">TYPE PRODUIT</th>
        <th >PRODUIT</th>
        <th >SUPERFICIES (Ha)</th>
        <th>PRODUCTIONS (Tonnes)</th>
        <th>EXPORTATIONS ((Tonnes))</th>
        <th>PRIX PRODUCTEURS (F CFA/KG)</th>
        <th>PRIX EXPORTATION (F CFA/KG)</th>
      </tr>
      </thead>
      <tbody align="center">
      <tr *ngFor="let p of toutcacao.data">
        <td>{{p.annee.libelle}} </td>
        <td class="i1">{{p.produit.typeProduit.libelle}}</td>
        <td>{{p.produit.libelle}}</td>
        <td>{{p.superficieEstime}}</td>

        <td>{{p.productionEstime}}</td>
        <td>{{p.exportation}}</td>
        <td>{{p.prixProducteur}}</td>
        <td>{{p.prixExportation}}</td>
      </tr>
      </tbody>

    </table>

    <p align="right">Source: DSDI</p>
  </div>

  <div class="ctr"  *ngIf="div3">
    &nbsp;&nbsp;<button type="button" class="btn btn-primary " (click)="gPdf(contentToConvert)">
    <i class="icon-cloud-download">  Telecharger PDF</i></button>
    <br/><br/>
  </div>
</div>




<!--/.card-->
<div class="card"  #contentToConvert  >
  <div class="card-header">
    <strong> Récherchez les statistiques de la filiere Cacao d'une region en fonction de l'année.</strong>
  </div>

  <div>
    <div class="card-body">
      <div class="btn-group" dropdown>
        <label for="cars">Région:&nbsp; &nbsp; </label>
        <select name="cars" id="cars"  [(ngModel)]="select">
          <option value="Marahoué">Marahoué</option>
          <option value="N’Zi">N’Zi</option>
          <option value="Iffou">Iffou</option>
          <option value="Mé">Mé</option>
          <option value="Bélier">Bélier</option>
          <option value="Guémon">Guémon</option>
          <option value="Moronou">Moronou</option>
          <option value="Indénié-Djuablin">Indénié-Djuablin</option>
          <option value="Sud-Comoé">Sud-Comoé</option>
          <option value="Folon">Folon</option>
          <option value="Kabadougou">Kabadougou</option>
          <option value="Gôh">Gôh</option>
          <option value="Lôh-Djiboua">Lôh-Djiboua</option>
          <option value="Agnéby-Tiassa">Agnéby-Tiassa</option>
          <option value="Grands Ponts">Grands Ponts</option>
          <option value="Tonkpi">Tonkpi</option>
          <option value="Mé">Mé</option>
        </select>
      </div>
      <div class="btn-group" dropdown>
        <label for="cars">&nbsp; &nbsp; &nbsp; Année:&nbsp;&nbsp;  </label>
        <select name="cars" id="car" [(ngModel)]="select1">
          <option value="2000">2000</option>
          <option value="2001">2001</option>
          <option value="2002">2002</option>
          <option value="2003">2003</option>
          <option value="2004">2004</option>
          <option value="2005">2005</option>
          <option value="2006">2006</option>
          <option value="2007">2007</option>
          <option value="2008">2008</option>
          <option value="2009">2009</option>
          <option value="2014">2014</option>
        </select>
      </div>

      <div class="btn-group" dropdown>&nbsp; &nbsp; &nbsp;
        <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
          <button type="button" (click)="onGetPlui()" class="btn btn-block btn-secondary">Récherchez</button>
        </div>
      </div>
    </div>

  </div>

</div>


<div class="card" *ngIf="div1" >
  <div class="card-header">
    REGION:  <strong>{{select}}</strong><br/>
    Statistiques de la filiere Cacao pour l'année <strong>{{select1}}</strong>
  </div>
  <div class="card-body" >
    <table *ngIf="pluies" class="table table-bordered">
      <thead align="center">
      <tr align="center">
        <th>ANNEE</th>
        <th  width="40%" align="center">LOCALITES</th>
        <th >SUPERFICIES ESTIMEES (Ha)</th>
        <th>PRODUCTIONS (Tonnes)</th>

        <th >EXPORTATIONS (Tonnes)</th>
        <th>PRIX PRODUCTEURS (F CFA/KG)</th>
      </tr>
      </thead>
      <tbody align="center">
      <tr *ngFor="let p of pluies.data">
        <td>{{p.annee.libelle}} </td>
        <td class="i1">{{p.localite.libelle}}</td>
        <td>{{p.hauteurPluieAnnuelle}}</td>
        <td>{{p.nbJourPluie}}</td>

        <td>{{p.hauteurPluieAnnuelle}}</td>
        <td>{{p.nbJourPluie}}</td>
      </tr>
      </tbody>
    </table>

    <p align="right">Source: DSDI</p>
  </div>
</div>


<div class="card" *ngIf="div1" >
  <div class="card-header">
    Statistiques de la filiere Cacao pour l'année {{select1}} de chaque localite de la region {{select}}
  </div>
  <div class="card-body">
    <div class="chart-wrapper"*ngIf="pluies.data">
      <canvas baseChart class="chart"
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
      </canvas>
    </div>
  </div>
</div>

<div class="ctr"  *ngIf="div1">
  &nbsp;&nbsp;<button type="button" class="btn btn-primary " (click)="gPdf(contentToConvert)">
  <i class="icon-cloud-download">  Telecharger PDF</i></button>
  <br/><br/>
</div>
