<button id="cmd" class="pdf-download" onclick="generate(true)">Make PDF</button>
<table id="geo_summarynew">
  <thead><tr class="hidden1"><th data-style="Header" style="background-color: #66cdf2; color: #000">Opportunity</th><th data-style="Header" style="background-color: #66cdf2; color: #000">Pipeline Count</th><th data-style="Header" style="background-color: #66cdf2; color: #000">Pipeline Value</th></tr>

  </thead>
  <tbody><tr><td>Qualified</td><td>29</td><td>8156520</td></tr><tr><td>Proposal Submitted</td><td>50</td><td>22949308</td></tr></tbody>
</table>
<table id="group2new">
  <thead><tr class="hidden1"><th data-style="Header" style="background-color: #66cdf2; color: #000">Opportunity</th><th data-style="Header" style="background-color: #66cdf2; color: #000">Pipeline Count</th><th data-style="Header" style="background-color: #66cdf2; color: #000">Pipeline Value</th></tr><tr></tr>

  </thead>
  <tbody><tr><td>Closed Won</td><td>65</td><td>15712559</td></tr></tbody>
</table>
<table id="group3new">
  <thead><tr class="hidden1"><th data-style="Header" style="background-color: #66cdf2; color: #000">Opportunity</th><th data-style="Header" style="background-color: #66cdf2; color: #000">Pipeline Count</th></tr><tr></tr>

  </thead>
  <tbody><tr><td>Closed Lost</td><td>156</td></tr></tbody>
</table>
